version: "3"
services:
  ## API GATEWAY
  api-gateway:
    container_name: api-gateway
    image: starverse/api-gateway:latest
    build:
      context: ./api-gateway
      dockerfile: ../api-gateway/Dockerfile
    ports:
      - "7770:7770"
      - "5005:5005"
    env_file: ./.env
    environment:
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    depends_on:
      - discovery-server

  ## Eureka Server
  discovery-server:
    build:
      context: ./discovery-server
      dockerfile: ../discovery-server/Dockerfile
    image: starverse/discovery-server:latest
    container_name: discovery-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
  ##DATABASES

  ## POSTGRES USER DB
  postgres-user:
    container_name: postgres-user
    image: postgres
    environment:
      POSTGRES_DB: user-service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - ./postgres-user:/data/postgres
    expose:
      - "5431"
    ports:
      - "5431:5431"
    command: -p 5431
    restart: always

  ## POSTGRES SERVER DB
  postgres-server:
    container_name: postgres-server
    image: postgres
    environment:
      POSTGRES_DB: server-service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - ./postgres-server:/data/postgres
    ports:
      - "5434:5434"
    command: -p 5434
    restart: always

  ## POSTGRES LAUNCHER DB
  postgres-launcher:
    container_name: postgres-launcher
    image: postgres
    environment:
      POSTGRES_DB: launcher-service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - ./launcher-server:/data/postgres
    ports:
      - "5433:5433"
    command: -p 5433
    restart: always



  ## SERVICES

  ## User-Service Docker Compose Config
  user-service:
    container_name: user-service
    build:
      context: ./user-service
      dockerfile: ../user-service/Dockerfile
    image: starverse/user-service:latest
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-user:5431/user-service
    env_file: ./.env
    depends_on:
      - postgres-user
      - discovery-server
      - api-gateway

  ## Server-Service Docker Compose Config
  server-service:
    container_name: server-service
    build:
      context: ./server-service
      dockerfile: ../server-service/Dockerfile
    image: starverse/server-service:latest
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-server:5434/server-service
    depends_on:
      - postgres-server
      - discovery-server
      - api-gateway

  ## Server-Service Docker Compose Config
  launcher-service:
    container_name: launcher-service
    build:
      context: ./launcher-service
      dockerfile: ../launcher-service/Dockerfile
    image: starverse/launcher-service:latest
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-launcher:5433/launcher-service
    depends_on:
      - postgres-launcher
      - discovery-server
      - api-gateway

  ## Prometheus
  prometheus:
    image: prom/prometheus:v2.37.1
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - user-service
      - launcher-service
      - server-service

  grafana:
    image: grafana/grafana-oss:8.5.2
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    links:
      - prometheus:prometheus
    volumes:
      - ./grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password




