spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/admin/**
          filters:
            - JwtAuthorizationFilter

        - id: launcher-service
          uri: lb://launcher-service
          predicates:
            - Path=/api/launcher/**

        - id: server-service
          uri: lb://server-service
          predicates:
            - Path=/api/server
          filters:
            - JwtAuthorizationFilter


        - id: server-service
          uri: lb://server-service
          predicates:
            - Path=/api/scene/**

        - id: discovery-server
          uri: http://discovery-server:8761
          predicates:
            - Path=/eureka/web
          filters:
            - SetPath=/

        - id: discovery-server-static
          uri: http://discovery-server:8761
          predicates:
            - Path=/eureka/**

authorization:
  endpoints:
    - path: /api/admin
      method: GET
      authorities:
        - ADMIN
    - path: /api/server
      method: POST
      authorities:
        - SERVER
