spring:
  datasource:
    url: jdbc:postgresql://postgres-server:5432/server-service
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    generate-ddl: true
